<app-toolbar toolbarTitle="Ausgaben" toolbarRetrunLink="/"></app-toolbar>
<mat-list>
  <mat-list-item style="position: relative" mat-ripple *ngFor="let cash of cashItems">
    <table>
      <tr>
        <td colspan="2">
          {{cash.content}}
        </td>

      </tr>
      <tr>
        <td>
          {{cash.createdate | date:'dd.MM.yyyy'}}
        </td>
        <td>
          {{cash.total}}
        </td>
      </tr>
    </table>
    <span mat-button [routerLink]="['cash',cash.key]">
    </span>
  </mat-list-item>
</mat-list>
<button [routerLink]="['cash/']" class="page_fab_button" mat-fab color="primary">
  <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
</button>
