<app-toolbar toolbarTitle="Kategorie" toolbarRetrunLink="/">
  <span *ngIf="isFormReady">
  <button (click)="deleteItem()" class="animatedicon" *ngIf="itemHasKey" matTooltip="Löschen" mat-icon-button>
      <mat-icon aria-label="Löschen">delete</mat-icon>
  </button>
  <button (click)="saveItem()" class="animatedicon" *ngIf="adForm.valid" matTooltip="Speichern" mat-icon-button>
      <mat-icon aria-label="Speichern">save</mat-icon>
  </button>
  <button (click)="cutItem()" class="animatedicon" *ngIf="itemHasKey" matTooltip="Ausschneiden" mat-icon-button>
      <mat-icon aria-label="Ausschneiden">bookmark_border</mat-icon>
  </button>
</span>
</app-toolbar>

<form *ngIf="isFormReady else loading" [formGroup]="adForm" novalidate class="from-container">

  <mat-form-field hintLabel="Maximal 20 Zeichen">
    <input matInput pattern="[a-zA-ZäöüÄÖÜ]*" formControlName="title" required maxlength="20" autocomplete="off" placeholder="Titel">
    <mat-hint align="end">{{adForm.value.title.length || 0}}/20</mat-hint>
    <mat-error *ngIf="!adForm.get('title').valid">Die angabe eines Titels mit mindestens 3 Zeichen ist erforderlich! </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="rating" placeholder="Häufigkeit">
      <mat-option [value]="5">Oft</mat-option>
      <mat-option [value]="4">Etwas öffters</mat-option>
      <mat-option [value]="3">Nicht so oft</mat-option>
      <mat-option [value]="2">Manchmal</mat-option>
      <mat-option [value]="1">Weniger</mat-option>
      <mat-option>Unbestimmt</mat-option>
    </mat-select>
  </mat-form-field>





  <mat-form-field>
    <input matInput formControlName="createdate" placeholder="Erstellt am">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="key" placeholder="ID">
  </mat-form-field>

</form>

<ng-template #loading>
  <div>Loading...</div>
</ng-template>
