<app-toolbar toolbarTitle="Kategory" toolbarRetrunLink="/">

  <button (click)="deleteItem()" matTooltip="Löschen" mat-icon-button>
      <mat-icon aria-label="Löschen">delete</mat-icon>
  </button>

  <button (click)="saveItem()" matTooltip="Speichern" mat-icon-button>
      <mat-icon aria-label="Speichern">save</mat-icon>
  </button>

  <button (click)="cutItem()" matTooltip="Ausschneiden" mat-icon-button>
      <mat-icon aria-label="Ausschneiden">bookmark_border</mat-icon>
  </button>


</app-toolbar>
