<!--is out -->
<button *ngIf="!auth;" matTooltip="Anmelden mit Google!" mat-icon-button (click)="login()">
  <mat-icon aria-label="Anmelden mit Goolge">not_interested</mat-icon>
</button>
<!--is in -->
<button *ngIf="auth;" mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon matTooltip="Angemeldet als {{ auth.displayName }}">person</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button (click)="logout()" mat-button>
    <mat-icon aria-label="Abmelden">power_settings_new</mat-icon> Abmelden
  </button>
</mat-menu>
